@model Zlotowkarze.ViewModel.GameViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Game";
}
<head>
    <title>Game</title>

    <style>
        .answer-button {
            height: 100px; 
            width: 300px; 
            margin: 15px 10px 0px 10px; 
            border-radius: 25px;
            background-color: white; 
            border: solid 8px; 
            white-space: normal;
            outline: none;
        }

        .answer-button:hover{
            background-color: #dddddd;
        }

        .answer-button-wrong {
            background-color: red !important;
        }

        .answer-button-right {
            background-color: green !important;
        }

        .answer-button-dunno {
            background-color: yellow;
        }

        .answer-button-dunno:hover {
            background-color: yellow;
        }

        .question-box {
            margin: 0px 0px 0px 0px;
            padding: 10px 10px 10px 10px;
            height: 174px; 
            width: 500px; 
            border: solid 12px; 
            border-color: black; 
            text-align: center;
            font-size: 24px;
        }

        #coin-box {
            margin: 0px 0px 0px 80px;
            padding: 0px;
            width: 399px;
            height: 174px;
            border: solid 12px;
            border-color: black;
        }

        #timer {
            text-align: center;
            width: auto;
        }

        input:disabled {
            color: black;
        }
    </style>
    <script type="text/javascript">
        var run = true;

        function Answer(answerNumber)
        {
            var el = document.getElementsByClassName("answer-button");
            el[0].disabled = 'true'; // nie chcialo mi sie robic for-a, sorki :D
            el[1].disabled = 'true';
            el[2].disabled = 'true';
            el[3].disabled = 'true';
            run = false;

            var model = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(this.Model.answers));
            if(answerNumber != null)
                el[answerNumber].classList.add("answer-button-dunno");

            setTimeout(function()
            {
                for (var i=0; i<4; i++)
                {
                    if( model[i].IsTrue == true)
                    {
                        el[i].classList.add("answer-button-right");

                    }
                    else
                    {
                        el[i].classList.add("answer-button-wrong");
                    }
                }
            }, 1000);
            if(answerNumber != null)
            {
                $.ajax({
                    url: "@Url.Action("Points", "Home")",
                    data: model[answerNumber]
                });
            }
            else
            {
                $.ajax({
                    url: "@Url.Action("Points", "Home")",
                    data: null
            });
            }

            setTimeout(function(){ window.location.href = '@Url.Action("Game", "Home")' }, 3000);
        }


        function Coins(n)
        {
            var points = n;
            var elem = document.getElementById("coin-box"); 

            if(n == 0)
                return;
            if(n > 0)
            {
                for(var i = 0; i < n; i++)
                {
                    elem.innerHTML += "<img src='../../App_Images/zlotowka.png'>";
                }
            }
            if(n < 0)
            {
                for(var i = 0; i > n; i--)
                {
                    elem.innerHTML += "<img src='../../App_Images/zlotowka-minusowa.png'>";
                }
            }
        }
    

        function StartTimer()
        {
            var start = Date.now(),
                diff, 
                minutes, 
                seconds;
            var duration = 1;
            var display = document.querySelector("#timer");           
            
            function timer()
            {
                if (display.textContent == "00:06")
                {
                    display.setAttribute("style", "color: red");
                }
                if (run == true)
                {
                    diff = duration - (((Date.now() - start) / 1000) | 0);

                    minutes = (diff / 60) | 0;
                    seconds = (diff % 60) | 0;

                    minutes = minutes < 10 ? "0" + minutes : minutes;
                    seconds = seconds < 10 ? "0" + seconds : seconds;

                    display.textContent = minutes + ":" + seconds;
                }
                if (diff < 0 && run == true)
                {
                    display.textContent = "00:00";
                    Answer(null);
                    run = false;
                }
            };
            
            timer();
            
            setInterval(timer, 1000);
        }    

    </script>
</head>

<body>
    <div class="container" style="margin-left: 50px; margin-right: 10px;">
        <img src="~/App_Images/sir.png" style="width: 140px; height: 190px; float:left;" />
        <div class="col col-lg-5 question-box">
            <h3>@Model.numberOfQuestion. @Html.DisplayFor(model => model.question.Content)</h3>
        </div>
        <div class="col col-lg-5" id="coin-box">
            <script>
                Coins(@Model.login.Points)
            </script>
        </div>
    </div>
    <div class="col col-lg-12" style="margin-top: 50px;"></div>
    <div class="col col-lg-5 col-lg-offset-1">
        <img src="~/App_Images/challenge-prawo.png" style="height: 160px; width: 100px;" />
        <input type="button" value="@Html.DisplayFor(model => model.answers[0].Content)" class="answer-button" onclick="Answer(0)" />
    </div>
    <div class="col col-lg-5 col-lg-offset-1">
        <input type="button" value="@Html.DisplayFor(model => model.answers[1].Content)" class="answer-button" onclick="Answer(1)"/>
        <img src="~/App_Images/challenge-lewo.png" style="height: 160px; width: 100px;" />
    </div>
    <h1 id="timer">
            <script>
                StartTimer();
            </script>
    </h1>
    <div class="col col-lg-5 col-lg-offset-1">
        <img src="~/App_Images/challenge-prawo.png" style="height: 160px; width: 100px;" />
        <input type="button" value="@Html.DisplayFor(model => model.answers[2].Content)" class="answer-button" onclick="Answer(2)" />
    </div>
    <div class="col col-lg-5 col-lg-offset-1">
        <input type="button" value="@Html.DisplayFor(model => model.answers[3].Content)" class="answer-button" onclick="Answer(3)" />
        <img src="~/App_Images/challenge-lewo.png" style="height: 160px; width: 100px;" />
    </div>
</body>